button {
	height: 90px;
	widht: 290px;
	font-size: 28px;
	color: white;
	border: none;
	background-color: blue;
	transition-property: background-color;
	transition-duration: 1s;
}

button:hover {
	background-color: green;
}

